body{
    background-color: brown;

}
p{
    font-size: 30px; 
    font-family: monospace;
    color : rgb(152, 255 ,152);  
    text-align: center;
    background-color: gray;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-family:'Times New Roman', Times, serif;
    color : rgb(152, 255 ,152);
    text-align:center;
    background-color: rgb(110, 110, 110); 
    background-position-x: 20%;
}