body{
    background-color: gray;

}
p{
    font-size: 25px; 
    font-family: monospace;
    color : rgb(152, 255 ,152);  
    text-align: center;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-family:'Times New Roman', Times, serif;
    color : rgb(152, 255 ,152);
    text-align:center;
    background-color: rgb(110, 110, 110); 
    background-position-x: 20%;
    font-size : 50px;
}
a:link{
    color :  rgb(6,69,173);
    font-size: 125%;
}
a:hover{
    color : rgb(4, 51, 126);
}
a:visited{
    color : rgb(128, 0, 128)
}