body{
    background-color: gray;
    margin-left : 0px;
    margin-top : 3px;

}
p{
    font-size: 25px; 
    font-family: monospace;
    color : rgb(152, 255 ,152);  
    text-align: center;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-family:'Times New Roman', Times, serif;
    color : rgb(152, 255 ,152);
    text-align:center;
    background-color: rgb(110, 110, 110); 
    background-position-x: 20%;
    font-size : 50px;
}
a{
    text-decoration: none;
    
}
a:link{
    color :  rgb(6,69,173);
    font-size: 125%;
}
a:hover{
    color : rgb(4, 51, 126);
    font-size: 125%;
}
a:visited{
    color : rgb(160, 9, 160);
    font-size: 20%;
}
a:active{
    color : rgb(231, 21, 21);
}
img{
    border : 3px solid sandybrown;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}